.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
  

}



.habilities_txt {
    width: 100%;
}
.habilities_txt h3 {
    width: 80%;
    text-align: center;
    font-size: medium;
    margin: 0 auto;
  
 
}

.habilities_txt p {
    width: 100%;
    font-weight: 300;
    text-align: center;
    font-size:medium;
}

.habilities_list {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
padding-bottom: 1em;
padding-top: 1em;
   
    list-style: none;
    gap: 1em;
    align-items: center;
}

.habilities_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   #12a1ae8d;;


    width: 100%;
    height: 100%;
    border-radius: 1vh;
    height: 100px;
    margin: 0;
    flex-direction: column;
}
.habilities_list li i {
    font-size: 25px;
}
.habilities_list li h4 {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 1em;
}

.carousel {
  
}

.habilities_cont_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

@media only screen and (min-width: 768px) {
    .habilities_list {
        padding: 0;
        width: 40%;
    }

    .habilities_list li {
        height: 25vh;
    }

    .carousel {
        width: 55%;
        padding: 0;
    }
    .hab_and_title {
        background-color: aqua;
        width: 100%;
        display: flex;
    }

    .habilities_cont_2 {
        flex-direction: row;
       justify-content: space-between;
    }

    

}