.header {

 
    height: 64px;
    margin: 0 auto;
    display: flex;
   
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;

}

.menu {
    display: flex;
    position: fixed;
    top: 64px;
    right: -100%;
    background-color: #31304d;
    width: 50%;
    height: calc(40vh - 64px);
    padding: 30px 40px;
    transition: left .5s;
    z-index: 3;
}

.show-menu {
    right: 0;
  
}
.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #49c29486;;

    margin: 0 auto;
}

.navbar div:first-child {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
 
 


}
.navbar div:first-child h3{

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
  
    display: flex;
    font-weight: 500;
    font-size:25px;
    text-align:end;
}

h2 span {
    color:#00BFF3;
}

.btn-open {
   border: none;
   background: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: inherit;
}



.menu-list {
    display: flex;
    flex-direction: column;
 
   width: 100%;

   
   
 
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 20px;
    font-size: 14px;
}

.menu-item {

    height: 7vh;
    text-align:center;
    align-items: center;
    justify-content: center;
    display: flex;

}
.menu-item a {
   
    text-decoration: none;
    color: inherit;
}
.menu-item a:hover {
padding-left: 1em;
padding-right: 1em;
border-radius: 10%;
    border-left: 2px solid;
    border-right: 2px solid;
    color: #49c29486;
    font-weight: 500;

}
.menu-list button {
    width: 50%;
    margin-top: 2vh;
    align-items: center;
    margin-left: 25%;
}

.line2 {
   display: none;
   font-weight: 100;
color: #12A0AE;
}





@media only screen and (min-width: 768px) {
    /* Estilos para tablet y pantallas más grandes */
    /* Puedes agregar tus estilos aquí */
.nav-icon,
.btn-open {
    display: none;

}
    .menu {
        position:static;
        z-index: 0;
        padding: 0;
        margin: 0;
        height: 5vh;
        display: flex;
       background: none;
        align-items: center;
   
        width: 50%;
    }

    .menu-list {
       column-gap: 0;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
       
    }

    
    
    .menu-item span {
  
    }
    .navbar {
       
        
    }

    .header {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
    }

 

    .main {
        margin-top: 64px;
    }

    .show-menu {
        left: 0;
    }

    

    .btn-open {
        background: none;
        display: none;
        align-items: center;
        border: none;
       
    }

    .nav-icon {
        font-size: 30px;
        color: #b6bbc4;
    }

    .menu-list button {
        margin:0;
        width: auto;
        height: vh;
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
        align-items: center;
    }

    .line2 {
        display: flex;
    }

    

   

 
}
  